* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
    overflow: overlay;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* ================ Scroll ================ */

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* ================ Common ================ */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.section-heading {
    margin: 15px 0 24px;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.section-title {
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.section-desc-small {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.btn {
    padding: 20px 40px;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    border-radius: 31px;
    border: 1px solid #ff5b2e;
}

/* ================ Header ================ */
.header {
    padding: 26px 0 8px;
    top: -20px;
    position: sticky;
    z-index: 10;
    background: #fffaf5;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav__item-link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.nav__item-active {
    color: #000958;
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

.nav__item-link:hover {
    color: #000958;
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

.navbar__action {
    display: inline-block;
    color: #000958;
    text-align: center;
    padding: 18px 32px;
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
    line-height: 1; /* 100% */
    border-radius: 25px;
    border: 1px solid #000958;
    opacity: 0.7;
    transition: 0.25s;
}

.navbar__action:hover {
    font-weight: 500;
    color: #fff;
    background: #000958;
}

/* ================ Hero ================ */
.hero {
    margin-top: 100px;
    padding-bottom: 94px;
}

.hero__body {
    display: flex;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.hero__img {
    display: flex;
}

.hero__img-bg:first-child {
    position: relative;
    width: 385px;
    height: 485px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: #fe997b;
}

.hero__img-bg:first-child .hero__img {
    width: 388px;
    height: 488px;
    object-fit: cover;
    margin-top: -6px;
}

.hero__img-bg:last-child {
    width: 186px;
    height: 244px;
    border-radius: 16px;
    border: 2px solid #fddfe2;
    background: #f9a4aa;
    overflow: hidden;
}

.hero__img-bg:last-child .hero__img {
    width: 186px;
    height: 244px;
    object-fit: cover;
}

.hero__img-bg:last-child {
    position: absolute;
    bottom: -58px;
    right: -163px;
}

.hero__info {
    width: 37.6%;
    position: relative;
}

.hero__info-content {
    top: 71px;
    position: absolute;
}

.hero__card {
    z-index: 1;
    position: absolute;
    left: 129px;
    bottom: -94px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__card-item {
    display: flex;
    gap: 10px;
    padding: 18px 0 18px 14px;
}

.hero__card-item:first-child {
    position: relative;
}

.hero__card-item:first-child::after {
    content: "";
    position: absolute;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    bottom: 0;
}

.hero__card-icon:first-child {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__card-icon:first-child .hero__card-img,
.hero__card-item:last-child .hero__card-icon .hero__card-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.hero__card-item:last-child .hero__card-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #c6e2fa;
}

.hero__card-title {
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__crossbar1 {
    margin: 7px 0 6px 1px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__crossbar2 {
    width: 39px;
    height: 4px;
    margin-left: 1px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__decor-circle {
    position: absolute;
    bottom: 0;
    left: -57.99px;
    z-index: -1;
}

.hero__decor-rectangle {
    position: absolute;
    top: 16.66px;
    right: -39.5px;
    z-index: -2;
}

.hero__title {
    width: 517px;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc {
    width: 391px;
    margin: 24px 0 38px;
}

.hero__action {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__btn {
    display: flex;
    align-items: center;
    gap: 19px;
    color: #fff;
    font-weight: 600;
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__btn span {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.hero__btn:hover .hero__img-icon {
    transform: translateX(25px);
}

.hero__btn:hover span {
    transform: translateX(25px);
}

.hero__img-icon {
    scale: 1;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.hero__call {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}

/* ================ About ================ */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__title {
    margin-top: 77px;
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading {
    width: 446px;
}

.about__desc {
    width: 431px;
}

.form-group {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    gap: 36px;
}
.check-box {
    margin-bottom: 34px;
}

.check-box-row:first-child {
    margin-bottom: 34px;
}

.check-box label {
    position: relative;
    display: flex;
    align-items: center;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.check-box label::before,
.check-box label::after {
    content: "";
    display: inline-block;
}

.check-box label::before {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.check-box [type="checkbox"]:checked ~ label::before {
    background: #ff5d31;
    border-color: #ff5d31;
}

.check-box [type="checkbox"]:checked ~ label::after {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 10px;
    height: 5px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    rotate: -45deg;
}

.about__media-content {
    position: relative;
}

.about__media-bg {
    z-index: -1;
    position: absolute;
    bottom: 3px;
    display: flex;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: rgb(252, 223, 238);
    background: linear-gradient(
        180deg,
        rgba(252, 223, 238, 1) 0%,
        rgba(250, 196, 210, 1) 100%
    );
}

.about__media-img {
    width: 450px;
    height: 602px;
    margin-left: 21px;
    object-fit: cover;
}

.about__media-info {
    left: -92px;
    bottom: 238px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__media-title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__media-desc {
    width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.about__icon-dog {
    position: absolute;
    top: 169.81px;
    left: -7.98px;
    z-index: 1;
}

.about__icon-decor {
    position: absolute;
    top: 177px;
    right: -85.63px;
    z-index: -1;
}

/* ================ Vacation ================ */
.vacation {
    margin-top: 77px;
    padding: 16px 0 55px;
}

.vacation__body {
    display: flex;
    justify-content: flex-start;
    gap: 127px;
}

.vacation__media {
    position: relative;
}

.vacation__circle {
    position: absolute;
    right: -42px;
    bottom: -54.58px;
}

.vacation__triangle1 {
    position: absolute;
    top: 268px;
    right: -35px;
}

.vacation__triangle2 {
    position: absolute;
    bottom: 150px;
    right: 19px;
}

.vacation__decor {
    position: absolute;
}

.vacation__decor1 {
    top: 12.5px;
    right: 63.16px;
}

.vacation__decor2 {
    top: -16px;
    right: 13px;
}

.vacation__decor3 {
    top: 33px;
    right: -21px;
}

.vacation__heading {
    margin-top: 52px;
}

.vacation__media-bg {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    background: rgb(198, 226, 250);
    background: linear-gradient(
        180deg,
        rgba(198, 226, 250, 1) 0%,
        rgba(148, 194, 234, 1) 100%
    );
}

.vacation__media-img {
    position: absolute;
    width: 458px;
    height: 500px;
    object-fit: cover;
}

.vacation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ffeee7;
    margin: 54px 0 36px;
}

.vacation__item {
    display: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.vacation__link:hover .vacation__item::after {
    position: absolute;
    bottom: -1px;
    content: "";
    width: 95px;
    height: 2px;
    background: #ff5b2e;
}

.vacation__item-title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.vacation__item-icon {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

.vacation__desc {
    width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    margin-bottom: 32px;
}

.vacation__link-more {
    position: relative;
    color: #ff5d31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.vacation__link-more::after {
    position: absolute;
    content: "";
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    bottom: -5px;
    left: 0;
}

/* ================ Services ================ */
.service {
    margin-top: 130.42px;
    padding: 68px 0 139px;
    background: #fff6ed;
}

.service__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__heading {
    text-align: center;
    margin-bottom: 71px;
}

.service__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__item {
    display: flex;
    flex-direction: column;
    padding: 30px 22px 30px 28px;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service__item:not(.service__item:last-child) {
    margin-bottom: 24px;
}

.service__media {
    margin-bottom: 26px;
    position: relative;
}

.service__media-bg {
    position: relative;
    margin-top: 243px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__media-img {
    overflow: visible;
    position: absolute;
    width: 410px;
    height: 581px;
    top: -231px;
    object-fit: cover;
}

.service__btn {
    position: absolute;
    bottom: -101px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 214px;
    height: 56px;
    white-space: nowrap;
    transition: 0.25s;
}

.service__btn:hover {
    background: #ff5b2e;
    color: #fff;
}

.service__decor {
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item-title {
    display: flex;
    gap: 12px;
}

.service__title {
    margin-bottom: 18px;
}

.service__read-more {
    display: inline-flex;
    margin-top: 24px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.service__more-icon {
    padding-left: 6px;
}

/* ================ Meet Our Groomers ================ */
.meet {
    padding: 130px 0;
}

.meet__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}

.meet__item {
    position: relative;
}

.meet__desc {
    margin: 29px 0 14px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.meet__heading {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 59px;
}

.meet__media-img {
    position: absolute;
    width: 234px;
    height: 299px;
    object-fit: cover;
    top: -23px;
}

.meet__media-body {
    position: relative;
    overflow: hidden;
    width: 234px;
    height: 299px;
    border-radius: 129.5px;
}

.meet__media-bg {
    position: absolute;
    top: 33px;
    width: 234px;
    height: 266px;
    margin-bottom: -24px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.meet__item:nth-child(2) .meet__media-bg {
    border-radius: 129.5px;
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.meet__item:nth-child(3) .meet__media-bg {
    border-radius: 129.5px;
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.meet__item:nth-child(4) .meet__media-bg {
    border-radius: 129.5px;
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.meet__media-icon {
    position: absolute;
}

.meet__media-icon1 {
    bottom: 64px;
    left: -16px;
    top: 190px;
}

.meet__media-icon2 {
    top: 33px;
    left: -16px;
    bottom: 157px;
}

.meet__media-icon3 {
    bottom: 64px;
    left: -16px;
    top: 190px;
}

.meet__media-icon4 {
    top: 33px;
    left: -16px;
    bottom: 157px;
}

.meet__title {
    text-align: center;
}

.meet__action {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet__btn {
    transition: 0.25s;
}

.meet__btn:hover {
    background: #ff5b2e;
    color: #fff;
}

/* ================ The Best Choice ================ */
.choice {
    padding: 71px 0 86px;
    background: #fff6ed;
}

.choice__heading {
    text-align: center;
}

.choice__desc {
    padding: 0 142px 38px;
    text-align: center;
}

.choice__btn-center {
    text-align: center;
    margin-bottom: 56px;
}

.choice__btn {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    margin-bottom: 56px;
    text-align: center;
}

.choice__btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.choice__btn-link:hover {
    border-radius: 31px;
    background: #ff5b2e;
    color: #fff;
}

.choice__img-icon {
    position: absolute;
    right: -113px;
    bottom: 29.02px;
}

.choice__card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.choice__card-item {
    padding: 30px 28px 43px;
    width: 302px;
    height: 465px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.choice__level {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.choice__title {
    margin: 8px 0 24px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.choice__price {
    color: #000958;
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 22px;
}

.choice__list-desc {
    display: flex;
    flex-direction: column;
}

.choice__card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 44px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    margin-bottom: 24px;
    transition: 0.25s;
}

.choice__card-btn:hover {
    color: #fff;
    background: #ff5b2e;
}

.choice__item-desc:not(.choice__item-desc:last-child) {
    margin-bottom: 18px;
}

.choice__item-title {
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    margin-left: 12px;
}

.choice__item-img {
    color: #ff5b2e;
}

/* Choice Action */

.choice__body label {
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
    width: 276px;
    height: 56px;
}

label.btn-color-mode-switch-inner {
    display: inline-block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 276px;
    height: 56px;
    /* background: #e0e0e0; */
    background: #fff6ed;
    border: 1px solid #ff5b2e;
    border-radius: 31px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 20px 40px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    padding: 20px 40px;
    background: #ff5b2e;
    color: #fff;
    border-radius: 31px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-color-mode-switch > .alert {
    display: none;
    background: #ff9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 131px;
    height: 56px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch
    input[type="checkbox"]:checked
    + label.btn-color-mode-switch-inner {
    color: #ff5b2e;
    border-radius: 31px;
}

.btn-color-mode-switch
    input[type="checkbox"]:checked
    + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 131px;
    color: #fff;
    text-align: center;
}

.btn-color-mode-switch
    input[type="checkbox"]:checked
    + label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 5px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
    display: block;
}

/* ================ Our Reviews ================ */
.our-reviews {
    padding: 53px 0 130px;
}

.our__body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our__content {
    margin-left: 115px;
}

.our__heading {
    margin-top: 0;
}

.our__desc {
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.556; /* 155.556% */
}

.our__author {
    position: relative;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-left: 28px;
}

.our__author::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    left: -28px;
    top: 50%;
    transform: translateY(-50%);
}

.our__media-item {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
.our__media-frame {
    position: relative;
    width: 274px;
    height: 427px;
    border-radius: 137px;
    overflow: hidden;
}

.our__media-bg {
    position: absolute;
    width: 274px;
    height: 350px;
    top: 98px;
    bottom: 59px;
    border-radius: 137px;
    background: #ffda54;
}

.our__media-img {
    position: absolute;
    width: 274px;
    object-fit: cover;
    bottom: 19px;
}

.our__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    transition: 0.25s;
}

.our__link svg {
    color: #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our__link-icon2 {
    rotate: 180deg;
}

.our__link:last-child {
    margin-left: 76px;
}

.our__link:first-child {
    margin-right: 44px;
}

.our__link:hover {
    background: #ff5b2e;
    box-shadow: 0px 5px 27px 0px rgba(255, 91, 46, 0.3);
}

.our__link:hover .our__link-icon {
    color: #fff;
}

.our-container {
    position: relative;
}

.dots {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 64px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
    transition: 0.25s;
}

.dots .dot:hover {
    border-radius: 4px;
    background: #ff5b2e;
}

.dots .active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background: #ff5b2e;
}
